* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
}


.nav {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  background-color: white;
  padding: 0 30px;
  position: sticky;
  z-index: 100;
}
.brand {
  align-items: center;
  font-size: 23px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-family: "Raleway", sans-serif;
}
.links,
a {
  text-align: center;
  align-content: center;
  font-size: 23px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.815);
  padding: 0 15px;
  font-weight: 300;
  font-family: "Open sans", sans-serif;
}
.search,
i {
  display: inline-flex;
  align-content: center;
  padding: 0 10px;
  align-items: center;
}
i > img {
  width: 24px;
  height: 24px;
  opacity: 0.5;
}
i > img:hover {
  opacity: 1;
}
.container {
  background-image: url(images/lake.jpg);
  background-size: cover;
  background-position: center;
}

#photos {
  position: relative;
  width: 100%;
  height: 65vh;
  background-image: url(images/1.jpg);
  top: 50%;
  transform: translateY(-50%);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  margin-top: -1.8em;
}
#photos > .part1,
.try {
  padding-left: 20px;
  width: 50%;
  color: white;
  align-content: center;
}
#photos > .part1 > h4 {
  font-size: 3em;
}
#photos > .part1 > h1 {
  font-size: 4em;
}
#input {
  border: 1px solid white;
  width: 150px;
  height: 25px;
  border-radius: 3em;
  background-color: black;
  color: white;
  padding-left: 20px;
}
button {
  height: 25px;
  width: 100px;
  border-radius: 3em;
  border: 1px solid white;
  background-color: green;
  color: beige;
}
.try {
  background-image: url(images/amethyst.jpg);
  margin: 50px;
  background-size: cover;
  background-repeat: no-repeat;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
#container2 {
  width: 100%;
  position: relative;
  /* background-color: black; */
  padding-bottom: 50px;
}
#send {
  height: 25px;
  width: 150px;
  border-radius: 3em;
  border: 1px solid white;
  background-color: rgb(23, 72, 209);
  color: beige;
  margin-top: 10px;
  margin-left: 50%;
  transform: translateX(-50%);
}

.card {
  border: 2px solid rgb(71, 241, 65);
  border-radius: 8px;
  display: grid;
  gap: 10px;
  background-color: #2196F3;
  padding: 10px;
  
}
/* .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  border: 3px solid blue;
  margin: 30px;
  color: white;
  background-color: DodgerBlue;
  padding: 10px;
  overflow-wrap: break-word;
  display: flex;
  gap: 20px;
  justify-content: center;
} */
.card:hover {
  box-shadow: 0 16px 20px 16px rgba(0, 0, 0, 0.474);
}