* {
  padding: 0%;
  margin: 0%;
}
.usernav {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  width: 100%;
  height: 40px;
}
.usernav > div {
  width: 25vw;
  justify-content: space-around;
  text-align: center;
}
.usernav > .usr {
  min-width: 110px;
}
.usernav > .usrname {
  min-width: 110px;
}
.usernav > .mail {
    min-width: 187px;
    }
.usernav > .op {
  min-width: 89px;
}
.user-data {
  display: flex;
  padding: 5px;
  font-size: small;
  background-color: rgb(255, 255, 255);
}
.user-data > div {
  border: 1px solid rgb(108, 104, 104);
  height: 45px;
}
.profile {
  padding-left: 8px;
  display: flex;
  text-align: left;
  width: 25vw;
  align-items: center;
  background-color: gray;
  min-width: 100px;
}
.profile > img {
  aspect-ratio: 1 / 1;
  height: 40px;
  padding-right: 5px;
}
.username {
  background-color: rgb(68, 67, 67);
  padding-left: 5px;
  width: 25vw;
  text-align: left;
  display: flex;
  overflow: auto;
  overflow-wrap: break-word;
  text-wrap: wrap;
  align-items: center;
  align-self: center;
  min-width: 110px;
}
.email {
  padding-left: 5px;
  width: 25vw;
  text-align: left;
  display: flex;
  overflow: auto;
  overflow-wrap: break-word;
  text-wrap: wrap;
  align-items: center;
  align-self: center;
  background-color: gray;
  min-width: 170px;
}
.option {
    display: inline-flex;
  /* padding-left: 5px;
  padding-right: 5vw; */
  width: 25vw;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(68, 67, 67);
  min-width: 80px;
}
.option > img {
  aspect-ratio: 1 / 1;
  height: 20px;
  padding-left: 5px;
}
@media only screen and (max-width: 500px) {
.user-data>div{
    font-size: x-small;
}
}