button {
  width: 100px;
  height: 40px;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  border-radius: 8px;
  border: 0cap;
  border: solid rgb(0, 255, 242) 3px;
}
table, th, td{
  border: 2px solid black;
  border-collapse: collapse;
  padding: 8px;
}

#send{
  margin: 10px;
}